pipeline/p_sf_to_adls_archival.json
{
	"name": "p_sf_to_adls_archival",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Object_List",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_Metadata_JSON",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Object_List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Object_List').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy_SF_Structured_Data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SalesforceV2Source",
									"query": {
										"value": "@concat('SELECT ', item().Fields, ' FROM ', item().ObjectName)",
										"type": "Expression"
									},
									"includeDeletedObjects": false,
									"partitionOption": "AutoDetect",
									"preserveScaleFromSchema": false
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_Salesforce_Object_Dynamic",
									"type": "DatasetReference",
									"parameters": {
										"ObjectName": "@item().ObjectName"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_Bronze_Dynamic",
									"type": "DatasetReference",
									"parameters": {
										"FolderPath": {
											"value": "@concat('bronze/structured/', item().ObjectName, '/', formatDateTime(utcNow(), 'yyyy/MM'))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Check_For_Attachments",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Copy_SF_Structured_Data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().HasAttachments, true)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Execute Pipeline1",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"policy": {
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "p_extract_sf_attachments",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"ObjectName": {
													"value": "@item().ObjectName",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}